@tailwind base;
@tailwind components;
@tailwind utilities;

#profile {
  mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNEQzI2MjYiIGQ9Ik0zMi45LC01NS41QzQzLjgsLTQ0LjEsNTQuNiwtMzcsNTguMywtMjcuMUM2MiwtMTcuMyw1OC43LC00LjcsNTgsOS4yQzU3LjQsMjMuMSw1OS41LDM4LjIsNTMuMiw0Ni43QzQ2LjgsNTUuMiwzMi4xLDU3LjEsMTguOCw1OC42QzUuNSw2MCwtNi40LDYxLjEsLTE1LjgsNTYuOUMtMjUuMiw1Mi43LC0zMi4xLDQzLjMsLTM2LjQsMzRDLTQwLjcsMjQuNywtNDIuNCwxNS41LC00OS4zLDMuOEMtNTYuMiwtOCwtNjguMiwtMjIuMywtNjYuMiwtMzEuOEMtNjQuMywtNDEuMiwtNDguNCwtNDUuOSwtMzUsLTU2LjFDLTIxLjcsLTY2LjQsLTEwLjgsLTgyLjIsMC4xLC04Mi4zQzExLC04Mi41LDIyLC02Ni45LDMyLjksLTU1LjVaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMDAgMTAwKSIgLz4KPC9zdmc+Cg==);
  mask-repeat: no-repeat;
}

/* #about-section {
  clip-path: polygon(0% 0%, 60% 0, 80% 50%, 60% 100%, 0% 100%);
} */
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 78.75712813466163,243.47028512538645 157.51425626932325,220.9405702507729 222,227 C 286.48574373067675,233.0594297492271 336.7001030573686,267.70800412229477 410,278 C 483.2998969426314,288.29199587770523 579.6853315012023,274.22741326004814 654,265 C 728.3146684987977,255.7725867399519 780.5585709378222,251.3823428375129 834,258 C 887.4414290621778,264.6176571624871 942.0803847475095,282.2432153899004 1005,278 C 1067.9196152524905,273.7567846100996 1139.1198900721402,247.64479560288558 1213,242 C 1286.8801099278598,236.35520439711442 1363.44005496393,251.17760219855722 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 58.25008588114048,249.2731020267949 116.50017176228096,232.54620405358983 188,235 C 259.49982823771904,237.45379594641017 344.24939883201654,259.08828581243563 425,260 C 505.75060116798346,260.91171418756437 582.502232909653,241.10065269666782 636,243 C 689.497767090347,244.89934730333218 719.7416695293714,268.50910340089314 789,264 C 858.2583304706286,259.49089659910686 966.5310889728614,226.86293369975957 1039,220 C 1111.4689110271386,213.13706630024043 1148.1339745791824,232.03916180006868 1209,244 C 1269.8660254208176,255.96083819993132 1354.9330127104088,260.9804190999657 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 85.4833390587427,250.88079697698385 170.9666781174854,235.76159395396772 229,245 C 287.0333218825146,254.23840604603228 317.6166265888011,287.834421161113 391,290 C 464.3833734111989,292.165578838887 580.5668155273103,262.9007214015802 653,245 C 725.4331844726897,227.09927859841977 754.116111301958,220.56269323256618 802,228 C 849.883888698042,235.43730676743382 916.9687392648575,256.8485056681552 999,259 C 1081.0312607351425,261.1514943318448 1178.008931638612,244.0432840948128 1254,242 C 1329.991068361388,239.9567159051872 1384.995534180694,252.9783579525936 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 86.21367227756784,274.92270697354866 172.42734455513568,283.84541394709726 232,289 C 291.5726554448643,294.15458605290274 324.5042940570251,295.5410511851597 383,279 C 441.4957059429749,262.4589488148403 525.555479216764,227.99038131226388 591,236 C 656.444520783236,244.00961868773612 703.2737890759189,294.4974235657849 784,313 C 864.7262109240811,331.5025764342151 979.3493644795603,318.0199244245964 1048,297 C 1116.6506355204397,275.9800755754036 1139.3287530058399,247.4228787358296 1197,241 C 1254.6712469941601,234.5771212641704 1347.3356234970802,250.2885606320852 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 78.75712813466163,243.47028512538645 157.51425626932325,220.9405702507729 222,227 C 286.48574373067675,233.0594297492271 336.7001030573686,267.70800412229477 410,278 C 483.2998969426314,288.29199587770523 579.6853315012023,274.22741326004814 654,265 C 728.3146684987977,255.7725867399519 780.5585709378222,251.3823428375129 834,258 C 887.4414290621778,264.6176571624871 942.0803847475095,282.2432153899004 1005,278 C 1067.9196152524905,273.7567846100996 1139.1198900721402,247.64479560288558 1213,242 C 1286.8801099278598,236.35520439711442 1363.44005496393,251.17760219855722 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
}

@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 84.12023359670215,124.71281346616283 168.2404671934043,116.42562693232567 239,111 C 309.7595328065957,105.57437306767433 367.1583648230848,103.01030573686019 436,98 C 504.8416351769152,92.98969426313981 585.1260735142563,85.5331501202336 642,91 C 698.8739264857437,96.4668498797664 732.33734111989,114.85709378220545 795,125 C 857.66265888011,135.14290621779455 949.5245620061835,137.03847475094466 1020,130 C 1090.4754379938165,122.96152524905533 1139.564410855376,106.98900721401581 1206,106 C 1272.435589144624,105.01099278598419 1356.217794572312,119.00549639299209 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 86.54757815183785,141.08656818962555 173.0951563036757,149.17313637925113 240,163 C 306.9048436963243,176.82686362074887 354.166952937135,196.3940226726211 413,182 C 471.833047062865,167.6059773273789 542.2370319477843,119.25077293026452 619,97 C 695.7629680522157,74.74922706973548 778.8849192717279,78.60288560632088 835,106 C 891.1150807282721,133.39711439367912 920.2232909653042,184.33768464445205 990,178 C 1059.7767090346958,171.66231535554795 1170.2219168670558,108.04637581587083 1252,91 C 1333.7780831329442,73.95362418412917 1386.889041566472,103.47681209206459 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 87.65647543799383,116.44555135692201 175.31295087598767,99.89110271384403 242,100 C 308.68704912401233,100.10889728615597 354.4046719340432,116.88114050154587 409,123 C 463.5953280659568,129.11885949845413 527.0683613878393,124.58433527997252 607,129 C 686.9316386121607,133.41566472002748 783.3218825145997,146.78151837856407 858,157 C 932.6781174854003,167.21848162143593 985.644108553762,174.28959120577125 1044,169 C 1102.355891446238,163.71040879422875 1166.1016832703535,146.06011679835106 1233,138 C 1299.8983167296465,129.93988320164894 1369.9491583648232,131.46994160082448 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 83.86533837169358,136.19203023016146 167.73067674338716,139.38406046032293 232,155 C 296.26932325661284,170.61593953967707 340.94263139814495,198.65578838886978 413,180 C 485.05736860185505,161.34421161113022 584.498797664033,95.99278598419787 646,89 C 707.501202335967,82.00721401580213 731.0621779457232,133.3730676743387 786,156 C 840.9378220542768,178.6269323256613 927.2524905530743,172.51494331844728 1003,168 C 1078.7475094469257,163.48505668155272 1143.9278598419787,160.5671590518722 1215,155 C 1286.0721401580213,149.4328409481278 1363.0360700790106,141.2164204740639 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 84.12023359670215,124.71281346616283 168.2404671934043,116.42562693232567 239,111 C 309.7595328065957,105.57437306767433 367.1583648230848,103.01030573686019 436,98 C 504.8416351769152,92.98969426313981 585.1260735142563,85.5331501202336 642,91 C 698.8739264857437,96.4668498797664 732.33734111989,114.85709378220545 795,125 C 857.66265888011,135.14290621779455 949.5245620061835,137.03847475094466 1020,130 C 1090.4754379938165,122.96152524905533 1139.564410855376,106.98900721401581 1206,106 C 1272.435589144624,105.01099278598419 1356.217794572312,119.00549639299209 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
